<body>
  <main class="container">
    <div class="row">
      <div class="col ps-0 pe-0">
        <header class="header">
          <img src="../../assets/images/icon-success.svg" class="img_fine ms-3"alt="success">

        </header>
        <!-- Sign-up form start -->
        <div class="col md-6">
          <div class="side2 text-start ps-3 pe-3">

            <h1 class="title1 mt-4">Thanks for suscribing!</h1>

            <h6 class="confirmation mt-2">A confirmation email has been sent to {{email}}. Please open it and click the button inside to confirm your subscription.</h6> 
            </div>

            <button class="dismiss btn btn-primary ms-3 mt-2" type="submit" (click)="onSubmit()">Dismiss message</button>
          </div>
        </div>
      </div>
    </main>

</body>


