@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
padding:0px;
margin:0px;
font-family: 'Roboto', sans-serif;
}

:root{

--Dark-Slate-Grey: hsl(234, 29%, 20%);
--Charcoal-Grey: hsl(235, 18%, 26%);
--Grey: hsl(231, 7%, 60%);
--White: hsl(0, 0%, 100%);

}


.container{

max-width: 375px;
background-color: white;

}

.wording{
margin-left: 33px;

}

.parrafo{

line-height: 21px;
}

.mail{
font-size: 13px;
font-weight: 500;

}

.email{

border-radius: 5px;
border-color: darkgray;
height: 54px;
width: 100%;
padding-left: 21px;
}

.newsletter{
width: 100%;
height: 54px;
border-radius: 5px;
background:hsl(231deg 74.45% 13.09%);
color:white;
border: none;
}

.title1{
font-size: 37px;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message {
    color: red;
    font-size: 13px;
    margin-top: 5px;
  }
    
@media screen and (min-width: 1000px){

.imagenHeader{

display: none;



}

.container {

  width: 100%;  
  max-width: 1000px;
  border-radius: 12px;
  
}

body{

background-color: hsl(234, 29%, 20%);
height: 100vh;
}

.imagenNueva {
    display: block; /* Mostrar la imagen nueva solo en pantallas mayores a 1000px */
    width: 100%; /* Ajustar la imagen al ancho completo de la columna */
    height: auto; /* Ajustar la altura de la imagen proporcionalmente */
    padding:20px
  }

  .row {

    flex-direction: row;

  }

  .col-lg-6 {
    flex: 1; /* Distribuye el espacio en 2 partes iguales */
  }


}

