<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
  <title>Frontend Mentor | Newsletter sign-up form with success message</title>
  

</head>

<body>
  <main class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <header class="header">
          <img src="./assets/images/illustration-sign-up-mobile.svg" class="imagenHeader" alt="ilustration">
        </header>
        
        <div class="side2 text-start ps-3 pe-3">

          <h1 class="title1 mt-4">Stay updated!</h1>

          <h6 class="title2 mt-4 ">Join 60,000+ product managers receiving monthly updates on:</h6>

          <div class="textos mt-4">

            <div class="d-flex text-start pe-3 parrafo">
              <img src="./assets/images/icon-list.svg" alt="icon-list" class="list1">
              <span class="prod1 ms-2">Product discovery and building what matters</span><br>
            </div>

            <div class="d-flex text-start pe-3 parrafo mt-2">
              <img src="./assets/images/icon-list.svg" alt="icon-list" class="list1">
              <span class="prod1 ms-2">Measuring to ensure updates are a success</span><br>
            </div>

            <div class="d-flex text-start pe-3 parrafo mt-2">
              <img src="./assets/images/icon-list.svg" alt="icon-list" class="list1">
              <span class="prod1 ms-2">And much more!</span><br>
            </div>

          </div>

          <form class="formulario mt-5" (ngSubmit)="onSubmit()" #emailForm="ngForm">
            <p class="mail mb-2">Email address </p>
            <input class="email mb-4" id="email" placeholder="email@company.com" [(ngModel)]="email" name="email">
            
            <button class="newsletter" type="submit" [disabled]="!emailForm.valid">Subscribe to monthly newsletter</button>

            <div *ngIf="emailForm.submitted && emailForm.invalid" class="error-message">Please enter a valid email address</div>
          </form>

        </div>
      </div>

      
      <div class="col-lg-6 d-none d-lg-block"> 
        <img src="../../assets/images/illustration-sign-up-desktop.svg" class="imagenNueva me-4" alt="Imagen Nueva">
      </div>
    </div>
  </main>

</body>

</html>
